@import url(mainAnimations.css);

html, body {
    font-family: 'Roboto';
    min-width: 800px;
    min-height: 600px;
    margin: 0px;
	height: 100%;
}

h1 {
    font-family: 'Roboto Slab';
    font-size: 40px;
}

a,
a:hover {
	color: #602491;
}

a:focus {
    border-color: dodgerblue;
    border-width: 1px;
    border-style: solid;
	color: #602491;
}

#top {
    font-family: 'Roboto Slab';
    color: #602491;
    text-align: center;
    height: 180px;
}

#title {
    font-family: 'Pacifico';
    font-size: 60px;
    margin: 0px 0px 10px;
}

hr {
    height: 1px;
    background: #602491;
    margin-top: 0px;
    margin-bottom: 0px;
}

#navigation {
    font-size: 23px;
	list-style-type: none;
	padding: 0px;
	margin-bottom: 0px;
}

#navigation li {
	display: inline-block;
}

.submenu {
	display: none;
	position: absolute;
	top: 150px;
	list-style-type: none;
	background-color: #EEEEEE;
	padding: 0px;
}

#portfolio:hover .submenu,
#portfolio a:focus + .submenu {
	display: block;
	z-index: 1;
	-webkit-animation: fadeIn 200ms;
	animation: fadeIn 200ms;
}

#portfolio:hover .submenu li,
#portfolio a:focus + .submenu li {
	display: list-item;
}

#portfolio:hover .submenu .page,
#portfolio a:focus + .submenu .page {
	margin: -1px 0px;
	width: 240px;
}


.page {
    display: inline-block;
    padding: 0px 30px;
    text-decoration: none;
    border-color: #602491;
    border-width: 2px;
    border-style: solid;
	border-radius: 2px;
    color: #602491;
    margin-bottom: 20px;
	width: 240px;
}

.page:link {
    color: #602491;
    text-decoration: none;
}

.page:hover {
    background-color: #602491;
    color: white;
    text-decoration: none;
}

.page:focus {
    color: #602491;
    border-color: #602491;
    border-width: 2px;
    border-style: solid;
}

.page:focus:hover {
    color: white;
}

#underNavLine {
    width: 90%;
}

#content {
    padding: 10px 15%;
    height: calc(100% - 230px);
	height: -moz-calc(100% - 230px);
    height: -webkit-calc(100% - 230px);
    overflow: auto;
    font-size: 20px;
    width: 100%;
    margin-right:-8px;
	position: relative;
	display: block;
}

.tooltip {
    margin-right:5px;
    font-family: 'Roboto';
	font-size: 15px;
}

.contact {
    text-align: right;
    padding-top: 10px;
}

.contact a {
    margin-right: 15px;
}

.contact .fa {
    color: #602491;
}

.contact a:focus {
    border-width: 0px;
}

.contact .fa-envelope,
.contact .fa-facebook-official {
    font-size: 24px;
}
.contact .fa-github,
.contact .fa-instagram,
.contact .fa-snapchat-square,
.contact .fa-linkedin {
    font-size: 27px;
}

#footerLine {
    width: 97%;
}
#footer {
    background-color: white;
    color: #602491;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
      background-color: #EEEEEE;
}
::-webkit-scrollbar-thumb        {
    background-color: #602491;
    border-radius: 2px;
}