html,
body {
  font-family: "Quattrocento Sans", sans-serif;
  margin: 0px;
  height: 100%;
  font-size: 1.2rem;
  min-height: 100%;
  color: #5e38cb;
  background: #ebe4ff;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: #29b0c4;
}

h2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 3rem;
}

#left-cat {
  width: 250px;
  position: fixed;
  top: 0;
}

#janna {
  width: 400px;
}

#content {
  padding: 3rem;
  padding-left: 15rem;
  padding-right: 10rem;
  line-height: 1.75rem;
  flex-grow: 1;
  overflow: scroll;
  min-width: 250px;
}

#zines {
  margin-top: 3rem;
}

.zine {
  margin-bottom: 2rem;
}

.zine .title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.75rem;
}

.zine .title h2 {
  margin: 0;
  line-height: 3.1rem;
}

.zine .title .date {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline;
  margin-right: 0.75rem;
}

.zine .title .download-icon {
  width: 20px;
  border: none;
  border-radius: 0;
}

.zine img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #5e38cb;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (max-width: 992px) {
  #left-cat {
    width: 150px;
    position: absolute;
    top: 0;
  }

  #content {
    padding: 5rem 8rem;
    overflow: inherit;
  }
}

@media screen and (max-width: 600px) {
  #left-cat {
    display: none;
  }
  #content {
    padding: 3rem;
  }
}
