$main-purple: #602491;
$light-purple: rgba($main-purple, 0.75);
$dark-purple: #604f6d;
$secondary-light-gray: #EEEEEE;
$title-font: 'King-Basil';
$heading-font: 'Roboto Slab';
$text-font: 'Roboto';

@mixin animation($name, $duration, $timing: null, $count: null) {
    -webkit-animation: $name $duration $timing $count;
	animation: $name $duration $timing $count;
}

@font-face {
    font-family: King-Basil;
    src: url(../../resources/King-Basil-Lite.otf) format('opentype');
}