@import 'global';
    
@-webkit-keyframes fadeInSubmenu {
    from {opacity: 0;}
      to {opacity: 1;}
}  
@keyframes fadeInSubmenu {
    from {opacity: 0;}
      to {opacity: 1;}
}

@-webkit-keyframes toPurple {
    from {
        background-color: white;
        color: $main-purple;
    }
    to {
        background-color: $main-purple;
        color: white;
    }
}
@keyframes toPurple {
    from {
        background-color: white;
        color: $main-purple;
    }
    to {
        background-color: $main-purple;
        color: white;
    }
}